.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link {
  color: lightgray;
}

.icon8-link {
  font-size: 7px;
  color:#afb2b8af;
}

.title-text-font {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
  font-size: 60px;
}

.padding-top-100 {
  padding-top: 100px;
}

.parallax { 
  /* The image used */
  background-image: url("./assets/marble_bkgd.jpg");

  /* Set a specific height */
  height: 50px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spacing-div {
  height: 20px;
}